/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

/* header */
body {
    display: flex;
    justify-content: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

header img {
    width: 100px;
    margin: 30px 0 0 50px
}

nav a {
    margin: 0 30px;
    color: black;
    text-decoration: none;
    padding-top: 10px;
}

nav a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

h1 {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    /*width: 1340px;*/
    height: 26px;
    margin: 60px 50px 0 50px
}

.sous-titre {
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 0 50px 0 50px;
    padding-top: 8px;
}

/* header */

/* Barre de recherche */

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 35px 0 50px 50px;
    width: 385px;
    height: 50px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    background: #FFFFFF;
}

.icon-container i {
    display: flex;
    width: 30px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    align-items: center;
    color: #000000;
    padding-left: 20px;
}

input[type="text"] {
    background-color: white;
    font-size: 16px;
    width: 300px;
    border-radius: 20px;
    border: none;
}

button[type="submit"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 16px;
    gap: 10px;
    width: 132px;
    height: 52px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

button {
    width: 100px;
    height: 21px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.mobile-button {
    display: none;
}

input:focus {
    outline: none;
}

::placeholder {
    font-weight: bold;
    color: black;
    padding-left: 15px;
}



/* barre de recherche */

/* filtres */


.filter-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;
    /*width: 758px;*/
    height: 50px;
    flex: none;
    order: 2;
    z-index: 2;
    text-align: center;
    margin: 40px 0 30px 50px;
}

.filter-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    flex: none;
    width: 54px;
    height: 21px;
}

.filter-list {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-list div {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 19px;
    gap: 10px;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

.filter-list div:hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;

}

/* filtres */

/* info-bar*/

.info-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 37px 50px 37.5px 84px;
    gap: 10px;
}

.info-bar i {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    border: 1px solid #D9D9D9;
    width: 20px;
    height: 20px;
}

/*info-bar*/

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-hebergement {
    padding: 0px 0px 15px;
    gap: 4px;
    width: 30%;
    height: 207px;
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


.hebergements-cards img {
    box-sizing: border-box;
    width: 100%;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.hebergements-cards .card-title {
    margin-left: 15px;
    margin-top: 4px;
}

.hebergements-cards .card-subtitle {
    margin-top: 8px;
    margin-left: 15px;
}

.hebergements-cards .card-rating {
    margin-left: 15px;
    margin-top: 8px;
}

.title-filter {
    height: 21px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    margin-inline-start: 1px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



/* Activités à Marseille */
.activites-a-marseille {
    margin-bottom: 150px;
}

.activites-marseille-title {
    height: 30px;
    margin-top: 65px;
}

.card-activites-a-marseille {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    padding-bottom: 50px;
}

.card-activites-a-marseille img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 380px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.card-activites {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    border-radius: 20px;
    width: 25%;
}

.card-title {
    margin-inline-start: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Footer */

footer {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    gap: 200px;
}

footer .bloc-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .main-container {
        margin: 0 auto;
    }

    .card-activites-a-marseille {
        max-width: 100%;
        width: 864px;
        height: 270px;
    }

    .card-activites-a-marseille img {
        height: 270px;
    }

    .card-title {
        margin-inline-start: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    footer {
        gap: 10px;
    }

}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    body {
        margin: 0px;
    }

    .main-container {
        padding: 0px;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 115px;
    }

    header img {
        width: 100px;
        margin-right: 50px;
    }

    nav a:hover {
        color: var(--main-color);
        border-bottom: 2px solid var(--main-color);
        border-top: none;
        padding: 10px;
    }

    nav {
        display: flex;
        gap: 50px;
        padding-right: 15px;

    }

    h1 {
        height: 52px;
        margin: auto;
        padding-top: 20px;
        padding-left: 6px;
        width: 335px;
    }

    .sous-titre {
        height: 19px;
        margin: auto;
        padding-left: 6px;
        width: 335px;
    }

    .search-bar {
        width: 300px;
        margin: auto;
        border: none;
        padding-top: 30px;
        padding-bottom: 15px;
    }

    input[type="text"] {
        width: 200px;
        height: 49px;
        border: 1px solid #F2F2F2;
        border-radius: 0px 15px 15px 0px;
    }

    button[type="submit"] {
        width: 55px;
        border-radius: 15px;
    }

    .icon-container i {
        height: 55px;
    }

    .desktop-button {
        display: none;
    }

    .mobile-button {
        display: flex;
        color: white;
    }

    .mobile-button i {
        color: white;
    }

    .filter-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 350px;
        height: 161px;
        margin: auto;
    }

    .filter-list {
        gap: 15px;
    }

    .filter-list div {
        width: 165px;
    }

    .info-bar {
        width: 350px;
        height: 38px;
        margin: auto;
        padding-top: 50px;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        box-sizing: content-box;
        width: 300px;
        padding: 40px;
    }

    .hebergements {
        background-color: #FFFFFF;
    }

    .populaires {
        background-color: var(--main-bg-color);
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .populaires-cards .card {
        width: 335px;
        height: 146px;
    }

    .populaires-cards img {
        height: 146px;
    }

    .hebergements-cards {
        width: 300px;
    }

    .card-activites-a-marseille {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-hebergement {
        width: 335px;
        height: 124px;
        padding-bottom: 90px;

    }

    .card-hebergement img {
        width: 335px;
        height: 124px;
    }

    .activites-a-marseille {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .card-activites {
        width: 315px;
        height: 141px;
        padding-bottom: 40px;
    }

    .card-activites img {
        width: 315px;
        height: 141px;
    }

    footer {
        display: flex;
        flex-direction: column;
        padding: 30px;

    }
}